.vscode/
.idea/


*.tmp/
*.env/
*.class/
*.jar/
*.exe
*.dll
*.out

Cargo.lock
debug/
target/

*.pdb
**/*.rs.bk

node_modules/

target/
out/
backend/src/main/resources/static/*
release/
build/
dist/




