$background: #202020;
$dark-background: #101010;
$dark-shadow: #000000;
$shadow: #121212;
$light-shadow: #242424;
$blue: #007acc;
$light-purple: #6a5acd;
$purple: #624e6e;
$gray: #abadab;
$lime: #82d782;
$red: #ff6666;
$orange: #D69C1E;

// style for admin and user panel


.panel {
    width: 80vw;
    height: 60vh;

    background-color: red;

}