$background: #202020;
$dark-background: #101010;
$dark-shadow: #000000;
$shadow: #121212;
$light-shadow: #242424;
$blue: #007acc;
$light-purple: #6a5acd;
$purple: #624e6e;
$gray: #abadab;
$lime: #82d782;
$red: #ff6666;

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/static/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: white;
}

#page {
    font-size: 100px;
    font-weight: bold;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.end-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.href {
    text-decoration: none;
    font-weight: bold;
    color: $lime;
}

.header {
    font-size: 50px;
    text-shadow: 2px 2px 5px darken($color: #FFFFFF, $amount: 50);

    text-align: center;
    align-self: center;

    margin: 25px;
}

.comment-text {
    color: $gray;
    font-size: 10px;

    text-align: center;
    align-self: center;

    margin: 25px;
    position: fixed;

    bottom: 10px;
}

.details {
    margin: 10px;
    font-size: 20px;
    text-align: center;

}


.button-action {
    height: 35px;
    width: 125px;

    border: none;
    color: white;
    text-align: center;

    background-color: desaturate($color: $blue, $amount: 25);
    border: 1px;
    border-radius: 10px;

    transition-duration: 0.5s;
    cursor: pointer;
}

.button-action-size {
    position: sticky;
    right: 0px;
    top: 0px;
    margin: 25px;
}

.button-link {
    text-decoration: none;
    width: 125px;
    height: 35px;
    display: flex;
    position: fixed;
}

.button-comment {
    height: 35px;
    width: 125px;

    border: none;
    color: $shadow;
    text-align: center;

    background-color: $gray;

    border: 1px;
    border-radius: 10px;

    transition-duration: 0.5s;
    cursor: pointer;
}

.button-action:hover {
    background-color: $blue;
    box-shadow: 1px 1px 10px $shadow;
}


.button-comment:hover {
    box-shadow: 4px 4px 10px $shadow;
    transform: translate(0, -2px);

    background-color: $lime;
}


input[type="text"], input[type="password"] {
    width: 50%;
    height: 25px;

    border: none;
    outline: none;

    background-color: $background;
    color: white;
}


#cards {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: $shadow;
    transition-duration: 0.5s;
    border-radius: 10px;

    margin: 10px;
    width: 500px;
    height: 500px;

    color: white;

    box-shadow: 2px 2px 5px $light-shadow;
    backdrop-filter: blur(5px);
    border: 1px solid rgba($color: $purple, $alpha: 0.9);    

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &:not(.no-hover):hover {
        box-shadow: 4px 4px 10px $shadow;
        transform: translate(0, -2px);
    }
}
