$background: #202020;
$dark-background: #101010;
$dark-shadow: #000000;
$shadow: #121212;
$light-shadow: #242424;
$blue: #007acc;
$light-purple: #6a5acd;
$purple: #624e6e;
$gray: #abadab;
$lime: #82d782;
$red: #ff6666;

#motto {
    font-size: 35px;
    font-display: bold;

    color: $gray;
    text-shadow: 2px 2px 5px $dark-shadow;
}

.home-bg {
    background: rgb(32,32,32);
    background: linear-gradient(180deg, rgba(32,32,32,1) 60%, rgba(106,90,205,1) 130%);
}

.filler-button {
    width: 100%;
}




#log-in {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 25px;
}

.log-in-url {
    right: 0px;
    top: 0px;
    margin: 25px;
}

#register {
    margin: 10%;
    align-self: center;
    bottom: 0%;
}

.card:hover {
    box-shadow: 4px 4px 10px $shadow;
    transform: translate(0, -2px);
}
