// colors

$dark-shadow: #000000;
$background: #202020;
$shadow: #121212;
$blue: #0a72a5;
$purple: #624e6e;
$gray: #abadab;

#motto {
    font-size: 35px;
    font-display: bold;

    color: $gray;
    text-shadow: 2px 2px 5px $dark-shadow;
}

.header {
    font-size: 50px;
    text-shadow: 1px 1px 5px $shadow;

    text-align: center;
    align-self: center;

    margin: 25px;
}

.filler-button {
    width: 100%;
}


.details {
    margin: 10px;
    font-size: 20px;
    text-align: center;

}

#log-in {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 25px;
}

.log-in-url {
    right: 0px;
    top: 0px;
    margin: 25px;
}

#register {
    margin: 10%;
    align-self: center;
    bottom: 0%;
}

#cards {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: $purple;
    transition-duration: 0.5s;
    border-radius: 10px;

    margin: 10px;
    width: 500px;
    height: 500px;

    color: white;

    box-shadow: 2px 2px 5px $shadow;
    backdrop-filter: blur(5px);
    border: 1px solid rgba($color: $purple, $alpha: 0.9);    

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card:hover {
    box-shadow: 4px 4px 10px $shadow;
    transform: translate(0, -2px);
}
