$background: #202020;
$dark-background: #101010;
$dark-shadow: #000000;
$shadow: #121212;
$light-shadow: #242424;
$blue: #007acc;
$light-purple: #6a5acd;
$purple: #624e6e;
$gray: #abadab;
$lime: #82d782;
$red: #ff6666;


$window-size: 350px;
$window-bar: 25px;

.window-wrapper {
    position: absolute;
    background-color: $background;
    width: $window-size;
    height: $window-bar + $window-size;
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;
    border-radius: 15px;

    transition: border-top 0.25s, border-bottom 0.25s;
    box-shadow: 4px 4px 10px $shadow;

    z-index: 5000;
}

.window-wrapper:hover {
    border-top: 1px solid $light-purple;
    border-bottom: 1px solid $light-purple;
}


.window-bar {
    display: flex;


    border-radius: 15px;

    width: $window-size;
    height: $window-bar;

    text-align: center;
    user-select: none;

    align-items: center;
    justify-content: space-between;
    cursor: grab;
}

.window-content {
    background-color: $shadow;

    width: $window-size;
    height: $window-size;

    top: $window-bar;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.window-button {
    position: relative;
    
    margin-left: auto;
    width: 50px;
    height: $window-bar;


    background-color: $background;
    border: none;

    cursor: pointer;

    left: 0;

    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;

    transition: background-color 0.25s, color 0.25s;
}

.window-button-close {
    border-top-right-radius: 15px;
    color: $red;
}

.window-button-close:hover {
    background-color: $red;
    color: $light-shadow;
}

.window-button-minimize {
    color: $blue;

    &:hover {
        color: $light-shadow;
        background-color: $blue;
    }
}



.window-buttons {
    position: flex;
    align-items: center;
}




.window-title {
    padding-left: 20px;
}