@font-face {
	font-family: 'JetBrains Mono';
	src: url('/static/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/static/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

* {
	scrollbar-width: thin;
	scrollbar-color: $purple $background;
	overflow-x: hidden;

	font-family: 'JetBrains Mono', monospace;
}

body {
	margin: 0;
	padding: 0;
	background-color: $background;
	color: snow;
}

#app {
	width: 100vw;
	height: 100vh;
}

.header {
	font-size: 50px;
	text-shadow: 2px 2px 5px darken($color: #ffffff, $amount: 50);

	text-align: center;
	align-self: center;

	margin: 25px;
}

.details {
	margin: 10px;
	font-size: 20px;
	text-align: center;
}

.comment {
	font-size: 15px;
	color: $gray;
}

.center-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.end-flex {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.start-flex {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.full-page {
	width: 100vw;
	height: 100vh;
}
