@font-face {
	font-family: 'JetBrains Mono';
	src: url('/static/JetBrainsMono-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/static/JetBrainsMono-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

input[type='text'],
input[type='password'],
input[type='email'] {
	width: 50%;
	height: 25px;

	border: none;
	outline: none;

	background-color: $background;
	color: white;
}

input[type='checkbox'] {
	width: 15px;
	height: 15px;

	color: $gray;
	background: $gray;

	&:checked {
		accent-color: $light-purple;
	}
}

#app {
	width: 100vw;
	height: 100vh;
}
